
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: roboto;
}

h1 {
    font-family: roboto;
    font-size: 60px;
}

h2 {
    font-family: roboto;
    font-size: 50px;
}

h3 {
    font-family: roboto;
    font-size: 40px;
}

h4 {
    font-family: roboto;
    font-size: 24px;
  }

/*bodyIntroRegular
bodyIntroMedium
headlineRegular*/

.navBar .menu .headlineMedium {
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
    color: #6B708D;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navBar .menu .headlineMedium:hover {
    border-bottom: 2px solid #6B708D;  
    padding-bottom: 8px;
}

/*captionBig
captionSmall*/


body {
    background-color: #F4F6FC;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    
}

.menu {
    display: flex;
    justify-content: center;
    
}

.menu:hover {
    border-bottom: 2px solid #F4F6FC;

}

.navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;

}

.primaryButton {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: ;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#hero-section .heroContentText {
width: 50%;
}


#hero-section .heroContentImg {
width: 50%;
}

.AllImages  {
    display: flex;
    justify-content: space-between;
    justify-content:center;
}

#hero-section .heroContentImg .AllImages .heroImage {
    display: flex;
    position: absolute;
    width: 400px;
}

#logos  {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#logos .logo  {
    margin: 1rem;
    height: 1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}








