
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    font-family: roboto;

}

h1 {
    font-family: roboto;
    font-size: 60px;
    color: #292E47;
}

h2 {
    font-family: roboto;
    font-size: 50px;
    color: #292E47;
}

h3 {
    font-family: roboto;
    font-size: 40px;
    font-weight: 700;
    color: #292E47;
}

h4 {
    font-family: roboto;
    font-size: 24px;
    font-weight: 500;
    color: #292E47;
  }

h5 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 400;
    color: #292E47;
  }

p {
    color: #6B708D;
    line-height: 30px;
    font-size: 20px;
}

.title {
    color: #292E47;
    margin-left: 10%;
    margin-right: 10%;
}


body {
    background-color: #F4F6FC;
    margin-top: 30px;
    margin: 0;
    font-size: 16xp;
    -webkit-font-smoothing: antialised

}

.topMargin {
height: 30%;
}


.tertiaryButton {
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
    color: #6B708D;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.tertiaryButtonSelected {
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
    color: #072AC8;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}


.navBar .menu .tertiaryButton:hover {
    color: #363d5f;
    
}



.menu {
    display: flex;
    justify-content: center;
    
}

.menu:hover {
    border-bottom: 2px solid #F4F6FC;
}

nav {
  

}



.navBar {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;

}

.navBar .contentNavBar {

    display: flex;
    justify-content: space-around;
    padding-top: 2rem ;
    padding-bottom: 2rem ;
    background-color: #F4F6FC;
    width: 100%;
    


}



.primaryButton {
    background-color: #072AC8;
    color: white;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17xp;
    font-weight: 500;
}

.primaryButton:hover {
    background-color: #06196b;
}

#hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10rem;
    margin-bottom: 8rem;
    height: calc(100vh - 60px)
}

.heroContentIzq {
width: 40%;
}

.buttonsHero {
    margin-top: 4rem;
}


.heroContentDer {
width: 50%;
height: 680px;
background-image: url(/Sources/hero-section/hero-image.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
}


.heroImage {
    width: 100%;
}


.AllImages {
position: relative;
height: 100%;
}

.heroContentDer .card1 {
    position: absolute;
    top: 5%;
    left: 0;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    border-radius: 30px;
}

.heroContentDer .card2 {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);  
    border-radius: 30px;
    }







#clients  {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

#clients .logo  {
    margin: 1rem;
    height: 1.5rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#projects {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.siteCard {
    margin-top: 2rem auto;
    margin-bottom: 2rem auto;
    margin-left: 10%;
    margin-right: 10%;
}

.projectCard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 5%;
}

.cardImage {
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

.cardImage img {
    max-width: 100%;
    height: auto;
}

.articleCard {
    background-color: white;
    transition 0.3s;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.articleCard:hover {
  box-shadow: 0 10px 50px 0 rgba(204, 24, 192, 0.2);
  cursor: pointer;  
  
}

.container {
    padding: 2rem;

}


.container .cardTitle {
margin: auto;
color: #292E47;
}

.container .cardText {
    margin-bottom: 4rem;
    }


.secondaryButton {
    display: block;
    text-decoration: none;
    color: #072AC8;
    font-size: 17px;
}


#testimonial {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.positionTestimonial {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 600px;
    background-color: #292E47;
    background-image: url(/Sources/testimonial-section/orbit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.testimonialText {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
height: 100%;
}

.testimonialText .testimonialTitle {
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 8rem ;
    padding-right: 8rem ;
}


.testimonialText .testimonialSubTitle {
    color: #FFC600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 8rem ;
    padding-right: 8rem ;

}

.allEmojis {
   width: 100px;
}

.emoji1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    margin: 2rem;
}

.emoji2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 8rem;
    margin: 2rem;
}

.emoji3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8rem;
    margin: 2rem;
}

.emoji4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    margin: 2rem;
    
}




.icon {
    background-color: #ecf7ff;
    width: 80px;
    height: 80px;
    border-radius: 150px;
}


.icon .vectorIcon img {
    margin: 20px;
}

.positionCards {
    margin-left: 10%;
    margin-right: 10%;
}

.positionCards .contentCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 5%;
}


.positionCards .contentCards .cardService {
    background-color: white;
    padding:  2rem;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

#CTA {
    margin-top: 12rem;
    margin-bottom: 12rem;
}


.AllCta {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: #FFC600;
    height: 400px;
    text-align: center;
    padding-top: 8rem;
    padding bottom: 8rem;
    
}

.AllCta .CTAButtons input {
    background: url(/Sources/newsletter/icon/mail.svg) no-repeat 24px 24px;
    padding-left:64px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-style: none;
    width: 24rem;
    height: 19px;
    font-size: 17xp;
    font-weight: 400;
}

.AllCta .CTAButtons .primaryButton  {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4rem;
    padding-right: 4rem;
}

.CTAButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.AllCta h3{
    margin: 1rem;
    
}

.AllCta h5{
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}

footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 120px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer .izqFooter .logoImg {
    height: 30px;
    margin-bottom: 0.5rem;
}

footer .izqFooter {
    width: 50%;
}

.address {
    color: #6B708D;
    font-size: 17px;
}

footer .derFooter {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer .derFooter .buttonList {
    list-style: none;
}

.footerButton {
    text-decoration: none;
    font-family: roboto;
    font-size: 17px;
    font-weight: 500;
    color: #6B708D;
}


/* PROJECT PAGE HERE */


#project {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

#project .subtitle {
    display: flexbox;
    justify-content: space-around;
    width: 
}


.coverProject {
    object-fit: cover;
    width: 100%;
    height: 444px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 10px 50px 0 rgba(204, 24, 192, 0.2);
}

/* CONTACT US PAGE HERE */

#contact-Us {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 16rem;
}




input  {
    width: 00%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
    border: none;
    border-radius: 0;
    background-color: #e7e9f1;
    font-size: 17px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

label {
    font-size: 20px;
    color: #6B708D;
}

#contact-Us .primaryButton {
    height: 4rem;
    background-color: #072AC8;
    width: 100%;
}

.fmessage{
    width: 100%;
    padding-bottom: 8rem;
}

.fphone {
    width: 100%;
}

.femail{
    width: 100%;
}

.fname {
    width: 100%;
}

